.pie-chart {
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 500px;
  text-align: center;

}
.line-chart {
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 500px;
  margin-top: 20px;
  text-align: center;
  label {
    font-weight: 600;
  }
}