.payment-container {
  margin: 10px;
  font-size: 14px;
  input {
    max-width: 130px;
    margin-right: 10px;
  }

  button {
    font-size: 14px;
    padding: 3px;
  }
  .transfer-section {
    text-align: right;
    div {
      display: inline-flex;
      text-align: right;
    }
  }
}