
.transaction-table {
  padding: 10px;
  background-color: $white;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  .table-name {
    font-weight: 600;
  }
  .table-item {
    font-size: 14px;
    padding: 10px 0 10px 0;
    &:nth-child(odd) {
      background-color: $secondary-bg-color;
    }
  }
}